body {
    background-color: #000;
    width: 100%;
    max-width: 700px;

}

.disabled {
    display: none;
}

.enabled {
    display: initial;
}

a, p, h1, h2, h3 {
    color: #fff;
}

div.main-content {
    margin-left: 10px;
}

div.tile {
    margin: 10px;
}
container {width: 100%;
            max-width: 500px;}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

@media (min-width: 1452px) {
    .container {
        max-width: 1360px;
    }
}

div.blue-color-block {
    display: block;
    width: 100%;
    background-color: black;
}

.align-right { 
    float: right;
    background-color: #1ba1e2;
    color: white;
    font-weight: 500;
    padding: 0 10px;
    border-radius: 0.5rem;
}

footer {
    background-color: #1ba1e2;
    font-size: smaller;
    color: white;
    display: block;
    text-align: center;
}

#standards p,h1 {
    color: #1ba1e2;
}
