body {
    background-color: #000;
}

.signed-in {
    display: none;
}

a, p, h1, h2, h3 {
    color: #fff;
}

div.main-content {
    margin-left: 10px;
}

div.tile {
    margin: 10px;
}
container {width: 100%;}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

@media (min-width: 1452px) {
    .container {
        max-width: 1360px;
    }
}
